body{
background-color:#f2f2f2;
text-align:center;
font-family:arial,sans-serif;
}
h1{
color:red;
}
h2{
color:blue;
}
h3{
color:blue;
}
p{
color:green;
font-size:18px;
}
.row{
display:flex;
justify-content:center;
align-items:center;
margins:10px 0;
}
.row label{
width:120px;
text-align:right;
margins-right:10px;
font-size:18px;
}
.box{
padding:8px;
border:2px solid#333;
border-raduis:5px
font-size:18px;
}
.double-box{
display:flex;
gap:10px;
}
.small{
width:150px;
}


